<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vcmy.dao.DepartmentDao">
	<insert id="addDep" parameterType="com.vcmy.bean.Department">
		insert into department
		values(#{dep_id},#{name})
	</insert>
	<select id="getDepById" resultType="com.vcmy.bean.Department">
		select * from department
		where dep_id=#{dep_id}
	</select>
	<update id="updateDep" parameterType="com.vcmy.bean.Department">
		update Department set
		name=#{name} where
		dep_id=#{dep_id}
	</update>
	<delete id="deleteDep" parameterType="com.vcmy.bean.Department">
		delete from department
		where
		dep_id=#{dep_id}
	</delete>
	<select id="getAllDep" resultType="com.vcmy.bean.Department">
		select * from department
	</select>
</mapper>
